<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="3" preserve-order="true" name="D:/automation/APIAutomationFramework_New">
        <classes>
            <class name="com.testingfile.misc.TestFile">
                <methods><include name="postrequest"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>